@import "../../variables.scss";

.countrycontainer {
  display: flex;
  flex-direction: column;
  margin: 5vh 5vw;
  border: 2px solid black;
  border-radius: 25px;
  .countrylist {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 25w;
    font-family: sans-serif;
    text-align: left;

    ul {
      list-style: none;
      li {
        padding: 20px;
      }
    }
  }
}
