@import "../../variables.scss";

.navBar {
  max-width: 100vw;
  width: 100vw;
  height: 40px;
  border: $primary-border;
  background-color: $secondary-background-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $base-padding;
  overflow: hidden;

  .header {
    color: $secondary-color;
    font-size: 30px;
    text-align: left;
    font-family: sans-serif;
    span {
      color: $secondary-text;
    }
  }

  .github {
    color: $secondary-text;
    padding: 0 $base-padding;
    color: $tertiary-text;
    font-size: 20px;
    font-weight: bold;
    p {
      color: $secondary-text;
    }
    span {
      margin: $base-margin/2;
    }
    a {
      color: $secondary-text;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
