@import "../../variables.scss";

.legend {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.legend-icon {
  border-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  height: 10px;
  margin-right: 8px;
  width: 10px;
}

.legend-icon-active {
  border-color: rgba(255, 255, 255, 1);
}

.legend-label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-transform: uppercase;
}

.legend-label-active {
  color: rgba(255, 255, 255, 1);
}
