@import "../../variables.scss";

article {
  .infopbox {
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    .leftcolumn {
      margin: $base-margin;
      width: 65vw;
    }
    .rightcolumn {
      margin: $base-margin;
      width: 35vw;
    }
  }
}
