@import "../../variables.scss";

article {
  .infobox {
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    .leftcolumn {
      margin: $base-margin;
      width: 65vw;
    }
    .rightcolumn {
      margin: $base-margin;
      height: 80vh;
      .topRow {
        height: 50%;
      }
      .bottomRow {
        height: 50%;
      }
    }
  }
}
