$base-margin: 20px;
$base-padding: 10px;

//TEXT
$primary-text: black;
$secondary-text: gray;
$tertiary-text: rgb(199, 197, 197);

//COLORS
$primary-background-color: #2b2d2f;
$secondary-background-color: #3f4043;
$primary-color: #2b2d2f;
$secondary-color: #c53529;
$tertiary-color: rgb(141, 140, 140);

//BORDER

$primary-border: solid 2px #2b2d2f;
$secondary-border: solid 2px #c53529;
$border-rounding: 5px;
