$base-margin: 20px;
$base-padding: 10px;

//TEXT
$primary-text: black;
$secondary-text: rgb(194, 194, 194);
$tertiary-text: #666666;

//COLORS
$light-background: #f6f6f6;
$primary-background-color: #dfdfdf;
$secondary-background-color: #3f4043;
$tertiary-background-color: #b4b4b4;
$primary-color: #2b2d2f;
$secondary-color: #f28d3d;
$tertiary-color: rgb(141, 140, 140);

//BORDER

$primary-border: 2px solid #2b2d2f;
$secondary-border: 2px solid #f28d3d;
$border-rounding: 5px;

$box-shadowing: 0 4px 7px rgba(253, 122, 34, 0.1),
  0 4px 7px rgba(253, 122, 34, 0.1); ;
