@import "../../variables.scss";

.mapcontainer {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-color;
  // margin: 5vh 5vw;
  border: $primary-border;
  border-radius: $border-rounding;
  height: 100%;
}
