@import "../../variables.scss";
.legendContainer {
  width: 100%;
  height: 10%;
  background-color: $secondary-background-color;
}
.mapContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 90%;
  width: 100%;
  overflow: hidden;
}
